.nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 26px 16px 10px;
    margin-top: -25px;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}
.nav1-1{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    text-decoration: none;
}
.nav1-2{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    text-decoration: none;
}
.n-address
{
    width: 200px;
    text-decoration: none;
}
.n-time
{
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: center;
    text-decoration: none;
}

.n-logo{
    width: 100px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.logoo{
    margin-left: -30px;
    margin-bottom: -15px;
    font-size: 40px;
}

.n-support{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-decoration: none;
}

.n-support2{
    color:  #1183d5;
    text-decoration: none;
}
.login-signup-btn{
    background-image: linear-gradient(to right,aqua  0%,#1183d5 51%,   aqua  100%);
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 5px #494747;
    border-radius: 23px;
    color: white;
    display: block;
    border: #eee;
}

.login-signup-btn:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #1183d5  100%);
    color: white;
    text-decoration: none;
}


.nav2{
    background-color:#34a1ef;
    width: 100%;
    /* margin-left: 5%; */
    height: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    text-decoration: none; 
}
.nav2 a{
    margin: 0px 20px;
    text-decoration: none;
}
.nav2 a:hover{
    width: 90px;
    color: whitesmoke;
    background: transparent;
	backdrop-filter: blur(100px);
	padding: 5px 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 2px 0px;
    text-align: center;
    transform: scale(1.1);
    transition: 0.5s;
    text-decoration: none;
    
}

.home-display{
    background-image: url(./img/home-img/hotel5.jpg);
    background-size: cover;
    background-blend-mode: darken;
    min-height: 720px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px 20px;
}

.home-display::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.home-display{
    background-image: url(./../img/home-img/hotel5.jpg);
    background-size: cover;
    background-blend-mode: darken;
    min-height: 720px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px 20px;
}

.home-display::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

}

.front-page-content{
    position: absolute;
    top: 250px;
    left: 50px;
    z-index: 1;
    margin-top: -100px;
}
.front-page-content h1{
    margin-bottom: 10px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 0px #628bdc, 6px 6px 4px #3983dd, 8px 8px 4px rgb(80, 14, 65);
    z-index: -1;
}
.front-page-content p{
    color: #ffffff;
    font-size: 22px;
}
.explore-btn{
    background-image: linear-gradient(to right,aqua  0%,#1183d5 51%,   aqua  100%);
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 5px #494747;
    border-radius: 23px;
    color: white;
    display: block;
    border: #eee;
    position: relative;
    top: -20px;
    left: -920px;
    z-index: 5;
}

.explore-btn:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #1183d5  100%);
    color: white;
    text-decoration: none;
}

.content {
    padding: 20px;
}
.feature-title{
    text-align: center;
    color: #34a1ef;
    font-size: 25px;
}
.our-feature-heading{
    text-align: center;
    color:#232d60;
}
.feature-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}
.feature-card{
    width: 500px;
    background-color: white;
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
    position: relative;
}
.feature-desc{
    font-size: 20px;
}
.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.gallery{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.gallery-box{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: scroll;
}
.gallery-box::-webkit-scrollbar{
    display: flex;
    flex-wrap: wrap;
}
.feedback-img{
    width: 335px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.feedback-img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.scrl-btn{
    width: 15%;
}
.scrl-btn img{
    width: 100px;
    
}
#scrl-btn-left{
   margin-top: 100px;
   margin-left: 120px;
}

#scrl-btn-right{
    margin-top: 100px;
}

.footer{
    color: white;
    margin-top: 150px;
    width: 100%;
    height: 400px;
    background-color: #0d5a91;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.subscribe{
    width: 75%;  
    background-color:white;   
    border: 2px solid grey;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    position: absolute;
    top: -30px;
    left: 12%;
    color: black;
    box-shadow: 0px 0px 5px ;
}
.subscribe input{
    width: 300px;
    height: 35px;
}
.subs-btn{
    background-image: linear-gradient(to right,aqua  0%,#1183d5 51%,   aqua  100%);
    margin-left: 30px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 5px #494747;
    border-radius: 23px;
    color: white;
    display: block;
    border: #eee;
}

.subs-btn:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #1183d5  100%);
    color: white;
    text-decoration: none;
}

.subscribe span{
    font-size: 20px;
    font-weight: bold;

}

.subscribe{
    width: 75%;  
    background-color:white;   
    border: 2px solid grey;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    position: absolute;
    top: -30px;
    left: 12%;
    color: black;
    box-shadow: 0px 0px 5px ;
}
.subscribe input{
    width: 300px;
    height: 35px;
}
.subscribe span{
    font-size: 20px;
    font-weight: bold;

}
.foot{
    position: absolute;
    top: 50px;
    width: 100%;   
    display: flex;
    justify-content: space-around;
}
.foot p{
    font-size: 17px;
}
.foot h3{
    color: black;
    font-size: 20px;
}
.histoty{
    width: 40%;
}
.social-media{
    display: flex;
}
.social-media img{
    width: 30px;
    margin: 0 10px;
}
.contact{
    width: 20%;
} 
.contact img{
    width: 30px;
}

.feedback-form{
    width: 220px;
    float: right;
    margin-right: 20px;
} 
.feedback-form img{
    display: inline-block;
    float: left;
    margin: 5px;
    width: 30px;
}
.feedback-form input{
    width: 220px;
    padding: 10px;
    border-radius: 10px;
}
.copy{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(33, 31, 31);
    color: white;
    text-align: center;
}
