
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--light-color);
}
header {
    height: 100vh;
   background-image: url(/img/HallBooking-imgs/bg-reserve.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    
}
.section-title {
    padding-top: 30px;
	color: #1183d5;
	text-decoration: underline;
	text-underline-offset: 5px;
	font-size: 40px;
	text-decoration-color: #000;
	text-align: center;
    
}
.events-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    
}
.events-card{
    width: 370px;
    margin: 40px 60px;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0px 0px 3px 1px;

}

.event-img{
    width: 100%;
    height: 220px;
}
.event-img:hover{
    transform: translateY(3px);
}
.event-title{
    font-size: 30px;
    margin-top: 25px;
    font-weight: bold;
}
.event-title:hover {
    transform: translateY(2px);
}

.book-btn{
    background-image: linear-gradient(to right,aqua  0%,#1183d5 51%,   aqua  100%);
    margin-top: 40px;
    margin-left: 190px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 5px #494747;
    border-radius: 23px;
    color: white;
    display: block;
    border: #eee;
}
.book-btn:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #1183d5  100%);
    color: white;
    text-decoration: none;
}


input, textarea, select {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 60%;
    border-color: skyblue;
    padding: 0.4rem;
    border-style: none;

    
}
.header-form{
    margin-left: 750px;
}
.head-section-title{
    padding-top: 30px;
	color:white;
	text-decoration: underline;
	text-underline-offset: 5px;
	font-size: 40px;
	text-decoration-color: #000;
	text-align: center;
}


main {
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.event-list {
    margin-top: 50px;
}

.booking-form {
    max-width: 600px;
    border: 1px solid;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
}


#bookingStatus {
    margin-top: 15px;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    header {
        height: 50vh;
    }

    .events-card {
        width: 100%;
        margin: 20px 0;
    }

    .book-btn {
        margin-left: auto;
        margin-right: auto;
    }

    input,
    textarea,
    select {
        width: 100%;
    }

    .header-form {
        margin-left: 0;
    }
}