body{
    border: 0px;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    
}
.heading{
	padding-top: 30px;
	color: #1183d5;
	text-decoration: underline;
	text-underline-offset: 5px;
	font-size: 40px;
	text-decoration-color: #000;
	text-align: center;
}
button{
    cursor: pointer;
    font-family: rubik;
}
.btn{
    background-image: linear-gradient(to right,aqua  0%,#1183d5 51%,   aqua  100%);
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 5px #494747;
    border-radius: 23px;
    color: white;
    display: block;
    border: #eee;
}

.btn:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #1183d5  100%);
    color: white;
    text-decoration: none;
}
p{
    font-size: 20px;
}

.home-container{
    padding: 10px 0;
    background-color: rgb(245, 238, 229);
}

/* ++++++++++++++++++++++++  Navbar  ++++++++++++++++++++++++++ */

.nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 26px 16px 10px;
    margin-top: -25px;
    font-family: 'PT Serif', serif;
}
.nav1-1{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.nav1-2{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.n-address
{
    width: 200px;
}
.n-time
{
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: center;
}

.n-logo{
    width: 100px;
    align-items: center;
    text-align: center;
}
.logoo{
    margin-left: -30px;
    margin-bottom: -15px;
    font-size: 40px;
}

.n-support{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.n-support2{
    color:  #1183d5;
}
.login-signup-btn{
    background-image: linear-gradient(to right,aqua  0%,#1183d5 51%,   aqua  100%);
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 5px #494747;
    border-radius: 23px;
    color: white;
    display: block;
    border: #eee;
}

.login-signup-btn:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #1183d5  100%);
    color: white;
    text-decoration: none;
}


.nav2{
    background-color:#34a1ef;
    width: 100%;
    /* margin-left: 5%; */
    height: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}
.nav2 a{
    margin: 0px 20px;
}
.nav2 a:hover{
    width: 90px;
    color: whitesmoke;
    background: transparent;
	backdrop-filter: blur(100px);
	padding: 5px 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 2px 0px;
    text-align: center;
    transform: scale(1.1);
    transition: 0.5s;
    
}

.home-display{
    background-image: url(./img/home-img/hotel5.jpg);
    background-size: cover;
    background-blend-mode: darken;
    min-height: 720px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px 20px;
}

.home-display::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

}

.front-page-content{
    position: absolute;
    top: 250px;
    left: 50px;
    z-index: 1;
    margin-top: -100px;
}
.front-page-content h1{
    margin-bottom: 10px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 0px #ec79af, 6px 6px 4px #da2a93, 8px 8px 4px rgb(80, 14, 65);
    z-index: -1;
}
.front-page-content p{
    color: #ffffff;
    font-size: 22px;
}
.explore-btn{
    background-image: linear-gradient(to right,aqua  0%,#1183d5 51%,   aqua  100%);
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;           
    box-shadow: 0 0 5px #494747;
    border-radius: 23px;
    color: white;
    display: block;
    border: #eee;
    position: relative;
    top: -50px;
    left: -620px;
    z-index: 5;
}

.explore-btn:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #1183d5  100%);
    color: white;
    text-decoration: none;
}
.form{
    width: 82%;
    height: 100px;
    line-height: 100px;
    margin-left: 9%;
    margin-top: -150px;
    position: relative;
    z-index: 5;
    background-color: #f5eee5;
    display: flex;
    justify-content: space-around;
    padding: 10px 2px;
    border-radius: 5px;
    
}
.form-title{
    width: 120px;
    padding: 5px ;
    border-radius: 10px;
}

.service{
    background-color:#e4eaf0;
    position: relative;
}
.service-header{
    width: 80%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50px;
    left: 10%;
    display: flex;
    border-radius: 30px;
    background-color: #1183d5;

}
.service-btn{        
    width: 50%;
    display: flex;
    justify-content: center;          
    border: none;
    background-color: #1183d5;
    padding: 20px 60px;
    
}
.service-btn a{
    text-decoration: none;
    font-size: 18px;
    color: black;
   
    
}
#hall-book-btn{
    border-radius: 0px 30px 30px 0;
    /* background-color: blanchedalmond; */
}
#room-book-btn{
    border-radius: 30px 0px 0px 30px;
}
.rooms{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}
.room-card{
    width: 320px;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0px 0px 3px 1px;
}
.room-card img{
    width: 100%;
    height: 220px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++ */

.box1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content:center;
}
.special-box{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 42%;
}
.box{
    width: 300px;
    height: 200px;
    margin: 6px;
    box-shadow: 0px 0px 1px rgba(15, 15, 15, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(202, 12%, 87%);
    
}
.box:hover{
    background-color: #34a1ef;
    transition: 0.5s;
    transform: scale(0.99);
    box-shadow: 0px 0px 2px black;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid white;
}
.box img{
    float: right;
    width: 35px;
}

.img-box{
    margin: 0px 20px ;
    width: 40%;

}
.img-box img{
    width: 100%;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.customers{
    margin-top: 50px;
    position: relative;
    
}
.customers::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

}
.customer-poster{
    margin-top: 50px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.costom-1{
    
    margin: 20px 40px;
}

/* ++++++++++++++++++++++++++++++ Gallery section ++++++++++++++++++++++++++++++++++++ */
.gallery{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.gallery-box{
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
}
.gallery-box::-webkit-scrollbar{
    display: none;
}
.feedback-img{
    width: 335px;
    height: 250px;
    margin: 10px;
}
.feedback-img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.scrl-btn{
    width: 15%;
}
.scrl-btn img{
    width: 100px;
    
}
#scrl-btn-left{
   margin-top: 100px;
   margin-left: 120px;
}

#scrl-btn-right{
    margin-top: 100px;
}

/* ++++++++++++++++++++ review poster +++++++++++++++++++++++++ */
.review-poster{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: hsl(202, 12%, 87%);
    display: flex;
    justify-content: space-evenly;
}
.poster-card{
    width: 350px;
    height: 350px;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3c87bc;
    padding: 20px;
    border-radius: 10px;
}
.poster-card img{
    display: block;
    margin: auto;
    width: 100px;
    border-radius: 50%;
}
.poster-heading{
    margin-top: 100px;
    font-size: 25px;
    color: #1183d5;
}

/* ========================= footer ============================= */

.footer{
    color: white;
    margin-top: 150px;
    width: 100%;
    height: 400px;
    background-color: #0d5a91;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
.subscribe{
    width: 75%;  
    background-color:white;   
    border: 2px solid grey;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    position: absolute;
    top: -30px;
    left: 12%;
    color: black;
    box-shadow: 0px 0px 5px ;
}
.subscribe input{
    width: 300px;
    height: 35px;
}
.subscribe span{
    font-size: 20px;
    font-weight: bold;

}
.foot{
    position: absolute;
    top: 50px;
    width: 100%;   
    display: flex;
    justify-content: space-around;
}
.foot p{
    font-size: 17px;
}
.foot h3{
    color: black;
    font-size: 20px;
}
.histoty{
    width: 40%;
}
.social-media{
    display: flex;
}
.social-media img{
    width: 30px;
    margin: 0 10px;
}
.contact{
    width: 20%;
} 
.contact img{
    width: 30px;
}

.feedback-form{
    width: 220px;
    float: right;
    margin-right: 20px;
} 
.feedback-form img{
    display: inline-block;
    float: left;
    margin: 5px;
    width: 30px;
}
.feedback-form input{
    width: 220px;
    padding: 10px;
    border-radius: 10px;
}
.copy{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(33, 31, 31);
    color: white;
    text-align: center;
}





















/* =======================media query 1200======================== */

@media screen and (max-width: 1200px)
{
    body{
        background-color: pink;
    }
    .home-container{
        padding-top: 20px;
        width: 1200px;
      }

      .nav1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0px 16px 10px;
        margin-top: -25px;
        /* border: 2px solid red; */
        font-size: 18px;
    }
   
    .nav1-1{
        width: 35%;
        display: flex;
        /* border: 2px solid red; */
        justify-content: space-between;
        align-items: center;
        margin-left: -25px;
        font-size: 18px;
}
    
    
    .nav1-2{
        width: 35%;
        display: flex;
        /* border: 2px solid red; */
        justify-content: space-between;
        align-items: center;
        margin-right: 45px;
        font-size: 18px;
}
    
    .n-address
    {
    width: 100px;
    margin-bottom: 20px;
    }
    .n-time
    {
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
    }
.logoo{
    font-size: 35px;
}

.n-support{
    width: 200px;
}
.login-signup-btn{
    width: 130px;
    padding: 10px 20px;
}

}  


/* =======================media query 900======================== */

@media screen and (max-width: 900px)
{
    body{
        background-color: pink;
    }
    .home-container{
        padding-top: 20px;
        width: 890px;
      }

      .nav1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0px 16px 10px;
        margin-top: -25px;
        /* border: 2px solid red; */
        font-size: 18px;

    }
    .nav1-1{
        width: 35%;
        display: flex;
        /* border: 2px solid red; */
        justify-content: space-between;
        align-items: center;
        margin-left: -25px;
        font-size: 18px;
}
    
    
    .nav1-2{
        width: 35%;
        display: flex;
        /* border: 2px solid red; */
        justify-content: space-between;
        align-items: center;
        margin-right: 45px;
        font-size: 18px;
}
    
    .n-address
    {
    width: 100px;
    margin-bottom: 20px;
    }
    .n-time
    {
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
    }
.logoo{
    font-size: 35px;
}

.n-support{
    width: 200px;
}
.login-signup-btn{
    width: 130px;
    padding: 10px 20px;
}

}





/* =======================media query 600======================== */


@media screen and (max-width: 600px)
{
    body{
        background-color: pink;
    }
    .home-container{
        padding-top: 20px;
      }

    .nav1-1{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: -35px;
        font-size: 18px;
    
    }
    .nav1-2{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
}
    
    .n-address
    {
    width: 100px;
    margin-bottom: 20px;
    font-size: 13px;
    }
    .n-time
    {
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
    }
.logoo{
    font-size: 35px;
}

.n-support{
    margin-left: 60px;
    width: 200px;
}
.login-signup-btn{
    width: 130px;
    margin-top: 20px;
    padding: 10px 20px;
}

   
}

/* =======================media query 470======================== */


@media screen and (max-width: 470px)
{
    body{
        /* background-color: red; */
    }
    .home-container{
      padding-top: 20px;
        width: 570px;
    }
    .nav1{
        height: 130px;
    }
    .nav1-1{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: -25px;
        font-size: 18px;

    
    }
    .nav1-2{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
}
        /* margin-right: 60px; */
    

    .n-address
    {
    width: 400px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
    /* border: 2px solid red; */
    }
    .n-time
    {
    display: flex;
    flex-direction: column;
    width: 120px;
    text-align: center;
    font-size: 15px;
    }
.logoo{
    font-size: 35px;
}

.n-support{
    margin-left: 60px;
    width: 200px;
}
.login-signup-btn{
    width: 130px;
    margin-top: 20px;
    padding: 10px 45px;
}
}


